.Tabs {
    display: grid;
}

.TabMenu {
    line-height: 24px;
    color: white;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 6px;

}

.TabMenuHighlight {
    height: 3px;
    margin-top: -3px;
    display: flex;
}

.TabMenuHighlight > div {
    width: 100%;
}

.TabMenu > button {
    background: none;
    color: inherit;
    border: none;
    padding: 12px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
}